.head
	.container
		.rowa
			h1
					a(href='http://blog.splodycode.net/') .:SplodyCode:.
			.span
					h4 Linux, Node.js, Engineering
		.rowb
			a(href='http://git.splodycode.net')
				img(src='/img/site/bitbucket_64.png')
			a(href='https://twitter.com/SplodyxD')
				img(src='/img/site/twitter.png')
