div.post.panel.col-4
	h2
		a(href=post.url)
			= post.title
	span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
	div.post.content.panel-footer
		!= post.preview
	div.tags
		- each tag in post.tags
			a(href=tagUrl(tag))
				span.label.label-info #{tag}
