!!!
html
	head
		//- Output page title
		- if (typeof post !== "undefined" && post.title !== "undefined")
			title= post.title + " | Splodycode.net"
			meta(name='description', content=post.description)
		- else if (typeof tag !== "undefined")
			title= tag + " | Splodycode.net"
			meta(name='description', content='SplodyCode, posts tagged with #{tag}')
		- else if (typeof category !== "undefined")
			title= category + " | Splodycode.net"
			meta(name='description', content='SplodyCode, posts of category #{category}')
		- else if (typeof title !== "undefined" )
			title= title
			meta(name='description', content='Linux, Node.js, Engineering')
		- else
			title= 'SplodeCode'
			meta(name='description', content='Linux, Node.js, Engineering')

		meta(charset='utf-8')
		link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://blog.splodycode.net/rss')
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/index.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')

	body
		include includes/header
		.container
			.row
				block content
			.row
				.col-3.panel
					h3.about About
					ul
						li
							a(href='/post/readme') ReadMe
				.col-3.panel
					h3.categories Categories
					ul
						- each cat in getCategories()
							li
								a(href=categoryURL(cat)) #{cat}
				.col-3.panel
					h3.projects
						a(href='/post/projects') Projects
				.col-3.panel
					h3.tags Tags
					- each tag in getTags()
						.thesetags
							a(href=tagURL(tag)) #{tag}
				.clear
		include includes/footer
			script(src='/js/bootstrap.js')
			script(src='/js/bootstrap.min.js')
			script(src='/js/jquery.min.js')
