extends layout

block content
  div.post
    h1.centerthis
      a(href=post.url)
        = post.title
    span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.post.content
      != post.content
    div.tags
      - each tag in post.tags
        a(href=tagUrl(tag))
          span.label.label-info #{tag}
    .share(data-url='http://jsantell.com'+post.url, data-text=post.description, data-title='share this page')
    #disqus_thread
    script
      var disqus_identifier = '!{post.slug}';
    script(src='/js/disqus.js')
    noscript Please enable JavaScript to view comments

